<script src="skydash-free-bootstrap-admin-template-main/template/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="skydash-free-bootstrap-admin-template-main/template/vendors/chart.js/Chart.min.js"></script>
<script src="skydash-free-bootstrap-admin-template-main/template/vendors/datatables.net/jquery.dataTables.js"></script>
<script
    src="skydash-free-bootstrap-admin-template-main/template/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="skydash-free-bootstrap-admin-template-main/template/js/dataTables.select.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="skydash-free-bootstrap-admin-template-main/template/js/off-canvas.js"></script>
<script src="skydash-free-bootstrap-admin-template-main/template/js/hoverable-collapse.js"></script>
<script src="skydash-free-bootstrap-admin-template-main/template/js/template.js"></script>
<script src="skydash-free-bootstrap-admin-template-main/template/js/settings.js"></script>
<script src="skydash-free-bootstrap-admin-template-main/template/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="skydash-free-bootstrap-admin-template-main/template/js/dashboard.js"></script>
<script src="skydash-free-bootstrap-admin-template-main/template/js/Chart.roundedBarCharts.js"></script>

<script>
    window.onload = function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(sendLocationToServer, showError);
        } else {
            alert("Tarayıcınız konum bilgisini desteklemiyor.");
        }
    };

    function sendLocationToServer(position) {
        const lat = position.coords.latitude;
        const lon = position.coords.longitude;

        fetch(`/Weather/GetWeather?lat=${lat}&lon=${lon}`)
            .then(response => response.json())
            .then(data => {
                if (data.city && data.temperature) {
                    document.getElementById("weatherInfo").innerHTML =
                        `<strong>${data.city}</strong> | ${data.conditionText}, ${data.temperature}°C`;
                } else {
                    document.getElementById("weatherInfo").innerText = "Veri alınamadı.";
                }
            })
            .catch(error => {
                document.getElementById("weatherInfo").innerText = "Hava durumu alınamadı.";
                console.error(error);
            });
    }

    function showError(error) {
        document.getElementById("weatherInfo").innerText = "Konum alınamadı.";
    }
</script>


<div id="weatherInfo" class="alert alert-info mt-3">
    Hava durumu bilgisi yükleniyor...
</div>
