<!DOCTYPE html>
<html lang="en">

<head>
  @await Component.InvokeAsync("HeadViewComponentPartial")
  @await RenderSectionAsync("Styles", required: false)

</head>

<body>

<div class="container-scroller">
  @await Component.InvokeAsync("NavbarViewComponentPartial")

  <div class="container-fluid page-body-wrapper">

    <div class="theme-setting-wrapper">
      <div id="settings-trigger"><i class="ti-settings"></i></div>
      <div id="theme-settings" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <p class="settings-heading">Tema Ayarları</p>

        <div class="d-flex flex-column">
          <button onclick="setTheme('light-mode')" class="btn btn-light mb-2">Light Mode</button>
          <button onclick="setTheme('dark-mode')" class="btn btn-dark">Dark Mode</button>
        </div>

      </div>
    </div>

    @await Component.InvokeAsync("RightSideBarViewComponentPartial")
    @await Component.InvokeAsync("LayoutViewComponentPartial")

    <div class="main-panel">
      <div class="content-wrapper">
        @RenderBody()
        @await RenderSectionAsync("Scripts", required: false)
      </div>
    </div>
  </div>
</div>

@await Component.InvokeAsync("ScriptViewComponentPartial")
</body>

</html>
