<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="Student" asp-action="Index">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Students</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Module" asp-action="Index">
                <i class="icon-columns menu-icon"></i>
                <span class="menu-title">Modules</span>

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Topic" asp-action="Index">
                <i class="icon-bar-graph menu-icon"></i>
                <span class="menu-title">Charts</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="HomeWork" asp-action="Index">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">homework</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Student" asp-action="Index">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">Calculate Score</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Student" asp-action="Index">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Go to site</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                <i class="icon-ban menu-icon"></i>
                <span class="menu-title">Error pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                    <li class="nav-item"><a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Documentation</span>
            </a>
        </li>
    </ul>
</nav>